.element {
  width: 50%;
  display: flex;
  background-color: rgb(233, 203, 119);
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  margin: 5px;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}
.status {
  flex: 2;
}
.btn-status {
  flex: 2;
}
.statusbutton {
  height: 100%;
  background-color: green;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px;
}
.statusbutton:hover {
  background-color: rgb(159, 235, 221);
  color: green;
}
.title {
  flex: 5;
  font-size: 18px;
}
